<a href="https://colab.research.google.com/github/adrianprogrammer15/matematicas/blob/main/Apuntes%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##APUNTES PHYTON MATEMÁTICAS

#Tipos de datos

In [ ]:
print(25)     # Este es un número entero de tipo int (integer)

In [ ]:
type(25)      # función que nos dice el tipo de dato

In [ ]:
print(3.8)    # este es un número decimal de tipo float
type(3.8)     # en español se llaman números de coma flotante

In [ ]:
print("Madrid")   # esto es un string, una cadena alfanumérica
print("Madrid 2036")   # esto es otro string
type("Madrid 2036")

In [ ]:
5 >= 2  # operador lógico > , analiza la condición y da TRUE o FALSE

In [ ]:
type(True)    # Boolean

In [15]:
2==3   # Operador lógico de igualdad

False

In [16]:
type(2==3)

bool

#Diferencia entre integer y string

In [17]:
print(5 == "5")

False

#Operaciones algebraicas

In [18]:
2+3  # Suma

5

In [ ]:
4-6  # Resta

In [ ]:
print(9 * 3)   # Producto
print(12/4)    # División

In [22]:
print(11//3)   # División entera (no es redondeo)
print(11%3)    # Resto (Módulo)
print(2**3)    # Potencia
print(pow(2,3))  # Potencia

3
2
8
8

#El operador punto
Se aplican métodos a objetos  
objeto.metodo()

In [24]:
print("Hola mundo".upper())   # Todo a mayúsculas
print("Hola mundo".lower())   # Todo a minúsculas

HOLA MUNDO
hola mundo

In [29]:
usuario = " ana ruiz"    # creamos una variable
usuario.title()          # las primeras letras mayúsculas y las demás a minúsculas

' Ana Ruiz'

In [ ]:
profesion = "abogado laboralista"
profesion.count("a")     # contar caracteres

In [28]:
cargo = "encargado"
cargo.replace("o", "a")  # reemplazar carateres

'encargada'

##Variables

In [ ]:
x = 5 
print(x)
print(2*x+5)
2*(x+7)

In [31]:
nombre = "Ana"
apellido = "Ruiz"
nombre + apellido   # Concatenado dos strings

'AnaRuiz'

In [32]:
nombre + " " + apellido

'Ana Ruiz'

In [35]:
# El sistema f para dar formato
edad= 25
print(f"Me llamo {nombre} {apellido} y mañana cumplié {edad+1} años")

Me llamo Ana Ruiz y mañana cumplié 26 años

## Contadores

In [39]:
vidas = 3             # Comenzamos un juego con 3 vidas
print(vidas)

vidas = vidas + 1     # Si en el juego ganamos una vida podemos incrementar su valor en uno
print(vidas)

vidas += 1            # Esta es una froma abreviada de escribir lo mismo que antes . Incrementa las vida en una má
print(vidas)

vidas -= 1            # Perdemos una vida. Es una forma abreviada de escribir vidas = vidas-1
print(vidas)

3
4
5
4

## Concatenar

In [44]:
a = "Buenos "
b = "Aires "
print(a + b + "es la capital de Argentina")

Buenos Aires es la capital de Argentina

In [47]:
#print("Tengo" + 15)      # ERROR
print("Tengo " + str(15))

Tengo 15

## Imprimir

In [57]:
nombre = "Ana"
edad = 14
print("Hola,me llamo " + nombre + " y tengo " + str(edad ) + " años.")
print(f"Hola,me llamo {nombre} y tengo {edad} años.")

Hola,me llamo Ana y tengo 14 años.
Hola,me llamo Ana y tengo 14 años.

## Introduciendo datos con input
Con la función `input` conseguimos capturar lo   que el usuario escriba por teclado
Input siempre captura un **string**. 

Si introducimos un número 5 lo que captura es "5"

In [ ]:
nombre = input("¿Cómo te llamas? ")
nota = float(input("Nota del examen: "))
print(f"Buenos días {nombre}, en el examen tienes una nota de {nota}.")